<%-include('header.ejs')%>


<form action = "/contactProc" method="post">
    <ul>
        <li>문의하기</li> 
        <li>Name: <input type ="text" name = "name" required></li>
        <li>Phone : <input type ="text" name = "phone" required></li>
        <li>Email: <input type ="text" name = "email" required></li>
        <li>Memo<br>
        <textarea name="memo" cols="50" rows="10"></textarea></li>
        <button>문의하기</button>
    </ul>
<%-include('footer.ejs')%>