<footer class="mt-5 py-5 bg-light" style="margin-top:5px;" >
    <div class="row">
        <!-- <div class="col-12 col-md" style="margin-left:30px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-body-secondary">&copy; About Us </small>
        </div> -->
        <div class="col-md" style="margin-left:50px; margin-left:10px;">
            <h5> About Website</h5>
            <div class="container ">
                aim to explore and assess the level of difficulty of golf courses located in your area. Golf enthusiasts often seek accurate information about the challenges 
                and intricacies of local courses to make informed decisions on where to play. we support tp address this gap by providing a comprehensive and user-friendly solution 
                to retrieve and display golf course difficulty rankings for your desired location.

            </div>  
            <!-- <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Ranking</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Rating/Slope</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Golf Clubs</a></li>
                <li><a class="link-secondary text-decoration-none" href="#"></a></li>
            </ul> -->
    </div>
    <div class="col-md" style="margin-left:150px">
        <h5></h5>
        <ul class="list-unstyled text-small">
            <!-- <li><a class="link-secondary text-decoration-none" href="#">golf course</a></li> -->
            <!-- <li><a class="link-secondary text-decoration-none" href="/contact">contact</a></li>  -->
            <!-- <li><a class="link-secondary text-decoration-none" href="#">privacy policy</a></li> -->
        </ul>
    </div>
    </div>
</footer>
</body>
</html> 
