<%-include('header.ejs')%>


<form action = "/contactProc" method="post">
    <ul>
        <div class="mb-3" style="margin-top:40px">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="email" class="form-control w-50" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control w-50" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control w-50" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <button type="button" class="btn btn-outline-secondary">Send</button>
    </ul>
<%-include('footer.ejs')%>
