<%-include('header.ejs')%>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" style="margin-top:60px; margin-left: 550px;">LIST</button>
    <button type="button" class="btn btn-secondary" style="margin-top:60px; margin-left: 30px;">INDEX</button>
    <button type="button" class="btn btn-secondary" style="margin-top:60px; margin-left: 30px;">MAP</button>    
    </div>
    <ul>
        <!-- <li></li> -->
    </ul>
    <table class="table" style="margin-top:100px; text-align: center;" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">COURSE NAME</th>
            <th scope="col">DETAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:100px;">
            <th scope="row">01</th>
            <td>Mark</td>
            <td>Otto</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">02</th>
            <td>Jacob</td>
            <td>Thornton</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">03</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">04</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">05</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">06</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>    
            <tr style="height:100px;">
            <th scope="row">07</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">08</th> 
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">09</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
            <tr style="height:100px;">
            <th scope="row">10</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center  position-top-20">
            <li class="page-item">
                <a class="page-link text-primary-emphasis">Previous</a>
            </li>
            <li class="page-item"><a class="page-link text-primary-emphasis" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-primary-emphasis" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-primary-emphasis" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link text-primary-emphasis" href="#">Next</a>
            </li>
        </ul>
    </nav>
    

<%-include('footer.ejs')%>
